:root {
    --primary: #FFFFFF;
    --secondary: #7918DB;
    --tertiary: #FFDF52;
    --quadratory: #F5E8FF;
    --menu: #FBC117;
    --checkoutsuccess: #2F8D0E;
    --reviews: #666666;
}

* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    font-size: 1.625rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

footer li:hover {
    color: #FBC117;
}

footer a:hover {
    color: var(--menu);
}

.desktop-menu a:hover {
    color: var(--tertiary);
}

.booking-success {
    display: flex;
    justify-content: center;
    background-color: var(--quadratory);
    text-align: center;
    color: var(--secondary);
    padding-top: 2rem;
}

.order-confirm {
    padding-top: 3.5rem;
    background-color: var(--quadratory);
    text-align: center;
    color: var(--secondary);
    padding-bottom: 3.5rem;
    border-bottom: 0.063rem solid var(--secondary);
}

.order-confirm h3 {
    padding-bottom: 3.5rem;
}

.center-this {
    width: 18.75rem;
    height: 3.25rem;
}

.flex-me {
    display: flex;
    align-items: center;
    justify-content: center;
}

.go-home {
    display: flex;
    width: 18.75rem;
    height: 3.25rem;
    background-color: var(--tertiary);
    border: none;
    color: var(--secondary);
    font-size: 1.625rem;
    font-weight: bold;
    border-radius: 0.625rem;
    align-items: center;
    justify-content: center;
}