:root {
    --primary: #FFFFFF;
    --secondary: #7918DB;
    --tertiary: #FFDF52;
    --quadratory: #F5E8FF;
    --menu: #FBC117;
    --checkoutsuccess: #2F8D0E;
    --reviews: #666666;
}

* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    font-size: 1.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    color: var(--secondary);
    display: flex;
    justify-content: center;
}

h4, p {
    color: var(--secondary);
}

.main-event img {
    max-height: 100%;
    max-width: 100%;
}

.welcome-event {
    color: var(--secondary);
    margin: 0.5rem 1rem 1rem 1rem;
}

.desktop-text {
    display: none;
}

.first-event img {
    max-width: 100%;
    max-height: 100%;
}

.full-tour {
    margin: 2rem 1rem 2rem 1rem;
}

.full-tour button {
    background-color: var(--tertiary);
    border-radius: 0.625rem;
    border: none;
    width: 16.875rem;
    height: 2.625rem;
    color: var(--secondary);
    font-size: 1.5rem;
    font-weight: bold;
}

.event-buy {
    display: flex;
    justify-content: center;
}

.event-buy button {
    margin: 2rem;
}

.second-event img {
    max-width: 100%;
    max-height: 100%;
}

.second-buy {
    display: flex;
    justify-content: center;
}

.second-buy button {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

/* Medium (m) */
@media (min-width: 744px) {
    /* Your styles for the medium breakpoint here */
    body {
        width: 100vw;
    }

    h1 {
        font-size: 2.25rem;
        margin: 1rem 0 1.5rem 0;
    }

    h4, p {
        font-size: 1.625rem;
    }

    .main-event {
        height: 40rem;
        width: 200rem;
        max-width: 100%;
        max-height: 100%;
        background-image: url(../assets/images/main-picture-events-tablet.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-event img {
        display: none;
    }

    .desktop-text {
        display: block;
        margin-top: 1rem;
    }

    .first-event {
        height: 40rem;
        width: 200rem;
        max-width: 100%;
        max-height: 100%;
        background-image: url(../assets/images/first-event-tablet.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .first-event img {
        display: none;
    }

    .second-event {
        height: 40rem;
        width: 200rem;
        max-width: 100%;
        max-height: 100%;
        background-image: url(../assets/images/last-event-tablet.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .second-event img {
        display: none;
    }

    .full-tour button {
        background-color: var(--tertiary);
        border-radius: 0.625rem;
        border: none;
        width: 29.25rem;
        height: 2.625rem;
        color: var(--secondary);
        font-size: 1.625rem;
        font-weight: bold;
    }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    body {
        width: 100vw;
        font-size: 2rem;
    }

    h1 {
        font-size: 4rem;
    }

    h4, p {
        font-size: 2rem;
        color: var(--secondary);
    }

    .main-event {
        width: 200rem;
        height: 40rem;
        max-width: 100%;
        max-height: 100%;
        background-image: url(../assets/images/main-picture-events-desktop-svg.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .main-event img {
        display: none;
    }

    .first-event {
        height: 40rem;
        width: 200rem;
        max-width: 100%;
        max-height: 100%;
        background-image: url(../assets/images/first-event-tablet.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .first-event img {
        display: none;
    }

    .full-tour button {
        background-color: var(--tertiary);
        border-radius: 0.625rem;
        border: none;
        width: 31.25rem;
        height: 3.25rem;
        color: var(--secondary);
        font-size: 2rem;
        font-weight: bold;
        margin-top: 3rem;
    }
}