:root {
    --primary: #FFFFFF;
    --secondary: #7918DB;
    --tertiary: #FFDF52;
    --quadratory: #F5E8FF;
    --menu: #FBC117;
    --checkoutsuccess: #2F8D0E;
}

* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    background-color: var(--quadratory);
}

.menu-sections {
    display: flex;
    margin-left: 1rem;
    background-color: var(--quadratory);
    color: var(--secondary);
}

.top-footer a {
    text-decoration: none;
    color: var(--secondary);
}

.top-footer :nth-child(1) {
    font-weight: bold;
}

.top-footer :nth-child(4) {
    font-weight: bold;
}

.top-footer :nth-child(7) {
    font-weight: bold;
}

.top-footer li {
    list-style-type: none;
}

.section-bottom img {
    width: 13.438rem;
    height: 6.688rem;
}