:root {
    --primary: #FFFFFF;
    --secondary: #7918DB;
    --tertiary: #FFDF52;
    --quadratory: #F5E8FF;
    --menu: #FBC117;
    --checkoutsuccess: #2F8D0E;
}

* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--secondary);
}

a {
    color: #FBC117;
}

.language-en {
    margin: 0 1rem 0 1rem; 
    color: var(--menu);
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-science img {
    width: 10.625rem;
    height: 6.25rem;
}

.desktop-menu {
    display: none;
}

.navbar-icons {
    display: flex;
    margin: 0 1rem 0 1rem;
    gap: 1.5rem;
    align-items: center;
}

.ticket-logo {
    display: flex;
    margin-right: 1rem;
    margin-top: 1.626rem;
}

.ticket-logo i {
    width: 1.688rem;
    height: 1.5rem;
}

.ticket-logo a {
    margin-bottom: 3px;
}

.menu-hide {
    margin-right: 1rem;
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    body {
        width: 100vw;
    }

    header {
        display: flex;
        width: 100vw;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        color: var(--menu);
        font-family: 'Jost', sans-serif;
    }

    .language-en {
        display: none;
    }

    .desktop-menu {
        display: flex;
        gap: 3.5rem;
        font-weight: bold;
    }

    .desktop-menu a {
        font-size: 2rem;
    }

    .ticket-logo i {
        font-size: 3.5rem;
    }

    .menu-hide i {
        display: none;
        margin-top: 1rem;
    }
}
