:root {
    --primary: #FFFFFF;
    --secondary: #7918DB;
    --tertiary: #FFDF52;
    --quadratory: #F5E8FF;
    --menu: #FBC117;
    --checkoutsuccess: #2F8D0E;
    --reviews: #666666;
}

* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    font-size: 1.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    color: var(--secondary);
    display: flex;
    justify-content: center;
}

.main-image {
    display: block;
    width: 100%;
    height: 100%;
}

.main-image img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.desktop-image {
    display: none;
}

.welcome-home h4 {
    margin: 1rem;
    color: var(--secondary);
}

.welcome-home p {
    margin: 1rem;
    color: var(--secondary);
}

.tablet-text {
    display: none;
}

.desktop-text {
    display: none;
}

.tickets-live {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-image {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-size: cover;
    background-position: center;

}

.second-image img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.live-today {
    display: flex;
    background-color: var(--tertiary);
    flex-direction: column;
    height: 17.938rem;
    width: 90%;
    border-radius: 0.625rem;
    margin: 2.5rem 0 2.5rem 0;
    padding-top: 1rem;
}

.live-today h4, .live-today p {
    color: var(--secondary);
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.live-today button {
    width: 16.875rem;
    height: 2.625rem;
    background-color: var(--secondary);
    border-radius: 0.625rem;
    color: var(--tertiary);
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
}

.center-me {
    display: flex;
    justify-content: center;
}

.tickets-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sale-ticket {
    display: flex;
    flex-direction: column;
    background-color: var(--quadratory);
    margin-bottom: 3rem;
    height: 17.938rem;
    width: 90%;
    border-radius: 0.625rem;
    padding-top: 1rem;
}

.sale-ticket h4, .sale-ticket p {
    color: var(--secondary);
    margin: 0 0 1rem 1rem;
}

.tablet-ticket {
    display: none;
}

.keep-this {
    display: flex;
    justify-content: center;
}

.keep-this button {
    width: 16.875rem;
    height: 2.625rem;
    background-color: var(--tertiary);
    border-radius: 0.625rem;
    color: var(--secondary);
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    align-items: center;
    margin-top: 2rem;
}

.give-location {
    display: none;
}

.reviews-container {
    padding: 1rem;
}

.reviews-container h4 {
    display: flex;
    justify-content: center;
    color: var(--secondary);
}

.get-guide {
    display: none;
}

.section-review {
    margin-bottom: 2rem;
}

.review-experience {
    display: flex;
    justify-content: center;
}

.review-experience h4 {
    color: var(--secondary);
}

.trip-advisor {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.trip-advisor p {
    color: var(--reviews);
}

.stars-rating {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.my-stars {
    padding-top: 0.6rem;
}

.logo-pick {
    justify-self: flex-start;
}

.rating-card {
    margin-top: 1.5rem;
}

.google-rating p, .google-review p {
    color: var(--reviews);
}

.google-review {
    background-color: var(--quadratory);
    border-radius: 0.625rem;
    margin-bottom: 2.5rem;
}

.logo-star {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1rem;
}

.hesh-rating p {
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
    color: var(--secondary);
    height: 8rem;
}

.rating-tablet {
    display: none;
}

.review-buy {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}

.review-buy button {
    width: 16.875rem;
    height: 2.625rem;
    background-color: var(--tertiary);
    border-radius: 0.625rem;
    color: var(--secondary);
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    align-items: center;
}

.desktop-hide {
    display: none;
}

.news-container {
    position: relative;
}

.news-letter {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    margin: 3.5rem 0 5rem 0;
    width: 100%;
    background-color: var(--tertiary);
    height: 18.313rem;
    min-height: 0;
    z-index: -1;
}

.news-letter h4 {
    color: var(--secondary);
    padding: 1.5rem 0 0 1.5rem;
    margin: 0;
    width: 17.375rem;
}

.news-letter p {
    color: var(--secondary);
    margin: 0;
    width: 18.375rem;
    padding: 1rem 0 0 1.5rem;
}

.news-letter img {
    width: 10%;
    height: 30%;
    max-width: 100%;
    position: absolute;
    margin: 1rem 0 0 12rem;
}

.your-email {
    margin-left: 1.5rem;
    width: 90%;
}

#email {
    width: 100%;
    height: 2.75rem;
    border-radius: 0.625rem;
    border: 0;
    margin-top: 1rem;
}

#email::placeholder {
    color: var(--secondary);
    font-size: 1.25rem;
    padding-left: 1rem;
}

.side-picture {
    display: none;
}

/* Medium (m) */
@media (min-width: 744px) {
    /* Your styles for the medium breakpoint here */
    body {
        width: 100vw;
        font-size: 1.625rem;
    }

    .main-image {
        height: 50rem;
        width: 200rem;
        max-width: 100%;
        max-height: 100%;
        background-image: url(../assets/images/main-picture-home-tablet.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-image img {
        display: none;
    }

    .tablet-text {
        display: block;
    }

    .keep-this button {
        margin-top: 1rem;
    }

    .tablet-ticket {
        display: block;
    }

    .stars-rating {
        justify-content: flex-start;
        gap: 1.5rem;
    }

    .tablet-container {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }

    .tablet-container p {
        font-size: 1.25rem;
    }

    .rating-card {
        margin: 0;
        background-color: var(--quadratory);
        border-radius: 0.625rem;
    }

    .rating-tablet {
        background-color: var(--quadratory);
        border-radius: 0.625rem;
    }

    .hesh-rating {
        margin: 1rem 0 4rem 0;
    }

    .news-letter img {
        padding-left: 2rem;
    }

    .news-letter p {
        width: 23.375rem;
    }

    .rating-tablet {
        display: block;
    }

    .desktop-hide {
        display: none;
    }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    body {
        width: 100vw;
        font-size: 1.5rem;
    }

    .main-image {
        height: 50rem;
        width: 200rem;
        max-width: 100%;
        max-height: 100%;
        background-image: url(../assets/images/main-picture-home-tablet.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-image img {
        display: none;
    }

    .welcome-home {
        font-size: 2rem;
    }

    .desktop-text {
        display: block;
    }

    .tickets-buy {
        flex-direction: row;
        align-items: flex-start;
        gap: 5rem;
        margin: 6rem 2.5rem 0 2.5rem;
    }

    .live-today {
        margin: 0;
        font-size: 2rem;
        padding-bottom: 20rem;
    }

    .live-today button {
        font-size: 2rem;
    }

    .sale-ticket {
        font-size: 2rem;
        padding-bottom: 20rem;
    }

    .sale-ticket p {
        margin: 0 0 1.2rem 1rem;
    }

    .give-location {
        font-size: 2rem;
        padding-bottom: 20rem;
    }

    .tablet-ticket {
        display: none;
    }

    .keep-this button {
        margin-top: 2rem;
        font-size: 2rem;
    }

    .give-location {
        display: flex;
        display: flex;
        background-color: var(--tertiary);
        flex-direction: column;
        height: 17.938rem;
        width: 90%;
        border-radius: 0.625rem;
        padding-top: 1rem;
        color: var(--secondary);
    }

    .give-location h4, .give-location p {
        color: var(--secondary);
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .give-location button {
        width: 16.875rem;
        height: 2.625rem;
        background-color: var(--secondary);
        border-radius: 0.625rem;
        color: var(--tertiary);
        font-size: 2rem;
        font-weight: bold;
        border: none;
    }

    .reviews-container h4 {
        font-size: 2.5rem;
    }

    .section-review {
        display: flex;
        justify-content: center;
        gap: 10rem;
        margin: 2rem 0 6rem 0;
    }

    .get-guide {
        display: block;
    }

    .trip-advisor {
        margin: 0;
    }

    .get-guide {
        color: var(--reviews);
    }

    .google-review p {
        font-size: 1.5rem;
        display: inline-block;
    }

    .desktop-hide {
        display: flex;
        background-color: var(--quadratory);
        border-radius: 0.625rem;
    }

    .desktop-hide p {
        font-size: 1.5rem;
    }

    .review-buy button {
        width: 32.188rem;
        height: 3.25rem;
        font-size: 2rem;
    }

    .news-container {
        display: flex;
        font-size: 2rem;
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    .news-container img {
        margin-left: 15rem;
        padding-left: 1rem;
    }

    .news-letter {
        width: 50%;
        height: 100%;
        margin: 0;
    }

    .news-letter p {
        width: 60%;
        font-size: 2rem;
    }

    .side-picture {
        display: flex;
        width: 50%;
        background-image: url(../assets/images/side-picture-home-newsletter-1.jpg);
        background-size: cover;
        background-position-y: 30%;
        z-index: -5;
    }

    .side-picture img {
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
    }
}

